@font-face {
    font-family: 'PP mori';
    src: url(./ppmori.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'PP Mori';
    color:#fff;
}
html,body{
    height:100%;
    width:100%;
    cursor:none;
    
}

.cursor{
    height:20px;
    width: 20px;
    border-radius: 50%;
    background-color: #edbfff;
    position: fixed;
    z-index: 102;
    pointer-events: none;
    /* transition: background-image ease 0.5s;
    background-position: center;
    background-size:cover ; */
    mix-blend-mode: difference;
    /* transition: left ease-out 4s top ease-out 1s; */
}

.main{
    background-color: #010001;
}

.page1{
    min-height:150vh;
    width:100%;
    /* position:relative; */
    z-index:9;
    padding-top: 16vw;
}
#purple{
    height:100vh;
    width:100%;
    background-color:#edbfff;
    z-index:98;
    /* top:0; */
    position: fixed;
    opacity:0;
    display:none;
    align-items: center;
    justify-content: center;
}
/* #scroller {
    display: inline-block;
    width: 100%;
    background-color: antiquewhite;
    white-space: nowrap;
    animation: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 100;
} */
/* #scroller h4 {
    display: inline;
    font-size: 4vw;
    transition: all linear 0.5s;
    color: black;
}
@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
} */

#nav{
    height: 3vw;
    width: 100%;
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 30px;
    position:fixed;
    mix-blend-mode: difference;
    z-index: 99;
}

#nav img{
    height: 1.5vw;
}

#nav-part2{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
}
#nav #circle{
    height:20px;
    width:20px;
    border-radius: 50%;
    background-color:white;
    justify-content: left; 
}

#nav h4{
    font-size: 1.2vw;
    font-weight:500;
    text-transform: uppercase;
}

#nav h4:nth-child(1){
    border-bottom: 1.4px solid #fff;
}


.page1 h1{
    font-size:8vw;
    font-weight: 300;
    font-family: 'PP Mori';
    /* justify-content: left; */
    margin-left:4vw;
}
.page1 h2{
    font-size:8vw;
    font-weight: 300;
    font-family: 'PP Mori';
    margin-left:18vw;
    margin-bottom: 4vw;
    /* z-index: 10; */
}

.page1 video{
    /* height:600; */ 
    width: 80%;
    justify-content: center;
    margin-left: 0.5vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    /* z-index:8 */

}

.page2{
    min-height:90vh;
    width:100%;
    padding: 0 5vw;
    border-bottom: #0F0D0D 2px solid;
    position:relative;
    z-index:9;
}

.page2 h2{
    /* background-color: red; */
    font-size:7vw;
    font-weight: 300;
    /* color:red */
}
.page2-container{
    height: 90vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 3vw 0;
}
.page2-left{
    /* background-color: blue; */
    width: 35%;
}
.page2-right{
    /* background-color: blue; */
    width: 25%;
    margin-top: 1vw;
    margin-right: 3vw;
}
.page2-left h3{
    font-size: 4.5vw;
    font-weight: 200;
    color: #a8a4a4;
    line-height: 4vw;
}
.page2-right p{
    font-size: 2vw;
    color: #a8a4a4;
}
.page2-right button{
    width: 100%;
    font-weight:200;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #edbfff;
    color: #010001;
    margin-top: 20px;
}

.page3{
    min-height:330vh;
    width:100%;
    padding: 5vw 5vw;
    /* background-color: #0F0D0D; */
    position:relative;
    z-index:9;
    border-bottom: 2px solid #dadada;
}
.page3 h2{
    margin-top: 5vw;
    color:#0F0D0D;
    font-size:7vw;
    font-weight: 300;
    /* color:red */
}
.page3-part1{
    /* padding: 5vw 0; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page3-part1 #left{
    /* background-color: red; */
    height:25vw;
    width:35%;
}
.page3-part1 img{
    margin-top: 22vw;
    height:38vw;
    width:100%;
    object-fit: cover;
}
.page3-part1 #right{
    /* background-color: blue; */
    height:37vw;
    width:40%;
    margin-top: -6vw;
}
.page3-part1 video{
    margin-left:9vw;
    width:100%;
    height: 100%;
    object-fit:cover;
}
.text h3{
    font-size:2vw;
    font-weight:100;
    color: #0F0D0D;
    margin-left:9vw;
    margin-top:1vw;
    /* margin-bottom: 0px; */
    line-height: 0.7;
}
.text span{
    font-size:1vw;
    font-weight:50;
    color: #0F0D0D;
    /* line-height: 0; */
    /* margin-left:7vw; */
    /* top:-20px; */
}
#left h3{
    margin-left:0;
}

.page3-part2{
    padding: 0vw 5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.page3-part2 #left{
    margin-left:8vw;
    /* background-color: red; */
    margin-top: 55vw;
    width:35%;
    height:34vw;
}
#left video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.page3-part2 #right{
    /* background-color: blue; */
    margin-top:18vw;
    height:24vw;
    width:40%;
}
.page3-part2 img{
    margin-top: 8vw;
    height:38vw;
    width:30vw;
}

#left h3{
    margin-left:0;
}
.page3-part2 #right h3{
    margin-left:0;
}
.page3-part2 h5{
    margin-top: 16vw;
    font-weight: 550;
    font-size:1.25vw;
    color: #010001;
}
.page3-part2 button{
    background-color:#edbfff;
    color:#010001;
    font-size:1vw;
    font-weight: 200;
    border-radius: 50px;
    border:none;
    margin-top: 0.7vw;
    width:35%;
    height:25px;
    /* padding:4px 0; */
}

.page4{
    height:120vh;
    width:100%;
    background-color: #fff;
    position:relative;
    z-index:9;
    /* margin-top: 10vw; */
    padding-top:20vw;
    border-bottom: 1.5px solid #dadada;
}
.elem{
    /* background-color: red; */
    /* margin-bottom:10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem #upper-1{
    height:18vw;
    width:24vw;
    left:9%;
}
.elem #upper-2{
    height:20vw;
    width:30vw;
    right:4%;
}
.elem #center-1{
    height:18vw;
    width:28vw;
    left:4%;
}
.elem #center-2{
    height:14vw;
    width:28vw;
    right:4%
}
.elem #bottom-1{
    height:18vw;
    width:30vw;
    left:0.8%;
}
.elem #bottom-2{
    height:26vw;
    width:20vw;
    right:10%;
}
.elem h3{
    font-size:6.5vw;
    font-weight:600;
    color:white;
    transition: all ease-out 0.35s;
}
.text-div{
    /* background-color: #edbfff; */
    height:6.8vw;
    overflow:hidden;
}
.elem:hover h3{
    /* background-color: #010001; */
    color:#edbfff;
    transform: translateY(-100%);
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0);
}
.page5{
    height:100vh;
    width:100%;
    background-color: #0F0D0D;
    position:relative;
    z-index:9;
    padding: 8vw 3vw;
}
.page5 h2{
    font-size:5vw;
    font-weight:100;
    text-transform: uppercase;
    margin-bottom: 2vw;
}
.page5 h2 span{
    color:#edbfff;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid #dadada;
}
.box h3{
    font-size:1.5vw;
    font-weight: 10;
    line-height: 5vw;
}
.box:nth-last-child(1){
    border-bottom: 1.5px solid #dadada;
}
.inner-box{
    width:30%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}



footer{
    height:84vh;
    width:100%;
    background-color: #edbfff;
    position:relative;
    z-index:9;
}
