*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'sans-serif';
    color:#fff;
}
html,body{
    height:100%;
    width:100%;
}

.main{
    background-color: #010001;
}

.page1{
    min-height:150vh;
    width:100%;
}

#nav{
    height: 3vw;
    width: 100%;
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 30px;
}

#nav img{
    height: 1.5vw;
}

#nav-part2{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
}
#nav #circle{
    height:1vw;
    width:1vw;
    border-radius: 50%;
    background-color:white;
    justify-content: left; 
}

#nav h4{
    font-size: 1.2vw;
    font-weight:500;
    text-transform: uppercase;
}

#nav h4:nth-child(1){
    border-bottom: 1.4px solid #fff;
}

.page1 h1{
    font-size:8vw;
    font-weight: 300;
    font-family: 'PP Mori';
    /* justify-content: left; */
    margin-top: 16vw;
    margin-left:4vw;
}
.page1 h2{
    font-size:8vw;
    font-weight: 300;
    font-family: 'PP Mori';
    margin-left:18vw;
    /* z-index: 10; */
}

.page1 video{
    /* height:600; */ 
    width: 80%;
    justify-content: center;
    margin-left: 0.5vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    /* z-index:8 */

}

.page2{
    min-height:150vh;
    width:100%;
    padding: 0 5vw;
}

.page2 h2{
    font-size:6vw;
    font-weight: 300;
    /* color:red */
}
.page2-container{
    height: 90vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 3vw 0;
}
.page2-left{
    /* background-color: blue; */
    width: 40%;
}
.page2-right{
    /* background-color: blue; */
    width: 28%;
    margin-top: 2vw;
}
.page2-left h3{
    font-size: 4vw;
    font-weight: 300;
    color: #a8a4a4;
    line-height: 4vw;
}
.page2-right p{
    font-size: 1.5vw;
    color: #a8a4a4;
}
.page2-right button{
    width: 100%;
    font-weight:200;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #edbfff;
    color: #010001;
    margin-top: 20px;
}