*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'PP Mori';
    color:#fff;
}
html,body{
    height:100%;
    width:100%;
}

.main{
    background-color: #010001;
}

.page1{
    min-height:150vh;
    width:100%;
}

#nav{
    height: 3vw;
    width: 100%;
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 30px;
}

#nav img{
    height: 1.5vw;
}

#nav-part2{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
}
#nav #circle{
    height:1vw;
    width:1vw;
    border-radius: 50%;
    background-color:white;
    justify-content: left; 
}

#nav h4{
    font-size: 1.2vw;
    font-weight:500;
    text-transform: uppercase;
}

#nav h4:nth-child(1){
    border-bottom: 1.4px solid #fff;
}

.page1 h1{
    font-size:8vw;
    font-weight: 300;
    font-family: 'PP Mori';
    /* justify-content: left; */
    margin-top: 16vw;
    margin-left:4vw;
}
.page1 h2{
    font-size:8vw;
    font-weight: 300;
    font-family: 'PP Mori';
    margin-left:18vw;
    /* z-index: 10; */
}

.page1 video{
    /* height:600; */ 
    width: 80%;
    justify-content: center;
    margin-left: 0.5vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    /* z-index:8 */

}

.page2{
    min-height:90vh;
    width:100%;
    padding: 0 5vw;
    border-bottom: #0F0D0D 2px solid;
}

.page2 h2{
    font-size:7vw;
    font-weight: 300;
    /* color:red */
}
.page2-container{
    height: 90vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 3vw 0;
}
.page2-left{
    /* background-color: blue; */
    width: 35%;
}
.page2-right{
    /* background-color: blue; */
    width: 25%;
    margin-top: 1vw;
    margin-right: 3vw;
}
.page2-left h3{
    font-size: 4.5vw;
    font-weight: 200;
    color: #a8a4a4;
    line-height: 4vw;
}
.page2-right p{
    font-size: 2vw;
    color: #a8a4a4;
}
.page2-right button{
    width: 100%;
    font-weight:200;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #edbfff;
    color: #010001;
    margin-top: 20px;
}

.page3{
    min-height:420vh;
    width:100%;
    padding: 5vw 5vw;
    /* background-color: #0F0D0D; */
}
.page3 h2{
    color:#0F0D0D;
    font-size:7vw;
    font-weight: 300;
    /* color:red */
}
.page3-part1{
    /* padding: 5vw 0; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page3-part1 #left{
    /* background-color: red; */
    height:700px;
    width:35%;
}
.page3-part1 img{
    margin-top: 300px;
    height:800px;
    width:100%;
}
.page3-part1 #right{
    /* background-color: blue; */
    height:700px;
    width:40%;
}
.text h3{
    font-size:40px;
    font-weight:100;
    color: #0F0D0D;
    margin-left:7vw;
    margin-top:1vw;
    /* margin-bottom: 0px; */
    line-height: 0.7;
}
.text span{
    font-size:20px;
    font-weight:50;
    color: #0F0D0D;
    /* line-height: 0; */
    /* margin-left:7vw; */
    /* top:-20px; */
}
#left h3{
    margin-left:0;
}
.page3-part1 video{
    margin-top: -100px;
    margin-left:7vw;
    height: 800px;
    text-align: center;
    /* width:40% */
    content: fill;
}

.page3-part2{
    padding: 5vw 5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page3-part2 #left{
    /* background-color: red; */
    margin-top: 40vw;
    min-height:700px;
    max-width:700px;
}
.page3-part2 video{
    /* height: auto; */
    /* margin:0 auto; */
    /* min-height: 700px; */
    width:100%;

}
.page3-part2 #right{
    /* background-color: blue; */
    margin-top:-70px;
    height:700px;
    width:40%;
}
.page3-part2 img{
    margin-top: 400px;
    height:750px;
    width:600px;
}
.text h3{
    font-size:40px;
    font-weight:100;
    color: #0F0D0D;
    margin-left:7vw;
    margin-top:1vw;
    /* margin-bottom: 0px; */
    line-height: 0.7;
}
.text span{
    font-size:20px;
    font-weight:50;
    color: #0F0D0D;
    /* line-height: 0; */
    /* margin-left:7vw; */
    /* top:-20px; */
}
#left h3{
    margin-left:0;
}
